html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #eef0f4
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: inline-block;

    border: 2px solid #000000;
    border-radius: 50px;
    padding: 20px;
}

.cat {
    max-width: 200px;


}

#itemForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item {
    color: #432000;
    background-color: #dce1eb;
}

.submit {
    color: #fdfdfd;
    background-color: #ac485a;
}